---
import FrameLayout from "../layouts/FrameLayout.astro";
---
<FrameLayout title="n/a">
  <h1>not found///////////</h1>
  <p>you are looking for something that does not exist.</p>
  <a href="/"rReturn home</a>
</FrameLayout>
